<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="questionDao" class="ru.otus.dao.QuestionDaoCsvResource">
        <constructor-arg name="resourceName" value="questions.csv"/>
    </bean>
    <bean id="quizService" class="ru.otus.service.QuizServiceCommandLine">
        <constructor-arg name="questionDao" ref="questionDao"/>
    </bean>
</beans>