<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen"/>
</head>
<body>
<div th:insert="header :: header"></div>
<form action="#" th:action="@{/authors}" th:object="${authorToAdd}" method="post">
    <input type="text" th:field="*{name}"/>
    <button type="submit">add</button>
</form>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}"></td>
        <td th:text="${author.name}"></td>
        <td>
            <form action="#" th:action="@{/authors/{authorId}/delete (authorId=${author.id})}" method="post">
                <button type="submit">delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>