<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen"/>
    <script src="webjars/vue/2.6.11/vue.min.js"></script>
    <script src="webjars/axios/0.19.2/dist/axios.min.js"></script>
</head>
<body>
<div th:insert="header :: header"></div>
<form id="author-form" v-on:submit.prevent="addAuthor">
    <label>
        Author name
        <input type="text" v-model="newAuthor.name" @submit.prevent/>
    </label>
    <button>Add</button>
</form>
<table class="authors" id="authors-table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="author in authors">
        <td>{{ author.id }}</td>
        <td>{{ author.name }}</td>
        <td>
            <button @click="removeAuthor(author)">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
<script>
    Vue.prototype.$http = axios;
    let bus = new Vue()
    const authors = new Vue({
        el: '#authors-table',
        data: {
            authors: [],
        },
        methods: {
            removeAuthor(author) {
                this.$http.delete('/api/authors/' + author.id).then(() =>
                    this.updateAuthors());
            },
            updateAuthors() {
                this.$http.get('/api/authors').then(response => response.data)
                    .then(authors => {
                        this.authors = authors;
                    })
            },
        },
        mounted: function () {
            this.updateAuthors();
        },
        created: function () {
            bus.$on('authorsChanged', () => {
                this.updateAuthors();
            })
        }
    });
    new Vue({
        el: '#author-form',
        data: {
            newAuthor: {
                name: "",
            },
        },
        methods: {
            addAuthor(event) {
                event.preventDefault();
                console.log(event)
                this.$http.post('/api/authors', this.newAuthor)
                    .then(() => bus.$emit('authorsChanged',));
            },
        },
    });
</script>
</body>
</html>