<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen"/>
    <script src="webjars/vue/2.6.11/vue.min.js"></script>
    <script src="webjars/axios/0.19.2/dist/axios.min.js"></script>
</head>
<body>
<header>
    <nav>
        <div><a href="/books">Books</a></div>
        <div><a href="/authors">Authors</a></div>
        <div><a href="/genres">Genres</a></div>
    </nav>
</header>
<form id="book-form" v-on:submit.prevent="addBook">
    <div>
        <label for="newBookName">Book name</label>
        <input id="newBookName" type="text" v-model="newBook.name" @submit.prevent/>
    </div>
    <button>Add</button>
</form>
</form>
<table class="books" id="books-table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Authors</th>
        <th>Genres</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="book in books">
        <td>{{ book.id }}</td>
        <td>{{ book.name }}</td>
        <td>
            <div v-for="author in book.authors">{{ author.name }}</div>
        </td>
        <td>
            <div v-for="genre in book.genres">{{ genre.name }}</div>
        </td>
        <td>
            <button @click="removeBook(book)">Delete</button>
        </td>
    </tr>
    </tbody>

</table>
<script>
    Vue.prototype.$http = axios;
    let bus = new Vue()
    new Vue({
        el: '#books-table',
        data: {
            books: [],
        },
        methods: {
            removeBook(book) {
                this.$http.delete('/api/books/' + book.id).then(() =>
                    this.updateBooks());
            },
            updateBooks() {
                this.$http.get('/api/books').then(response => response.data)
                    .then(books => {
                        this.books = books;
                    })
            },
        },
        mounted: function () {
            this.updateBooks();
        },
        created: function () {
            bus.$on('booksChanged', () => {
                this.updateBooks();
            })
        }
    });
    new Vue({
        el: '#book-form',
        data: {
            newBook: {
                name: "",
            },
        },
        methods: {
            addBook(event) {
                event.preventDefault();
                console.log(event)
                this.$http.post('/api/books', this.newBook)
                    .then(() => bus.$emit('booksChanged',));
            },
        },
    });
</script>
</body>
</html>