<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.name}"></title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen"/>
</head>
<body>
<header>
    <nav>
        <div><a href="/books.html">Books</a></div>
        <div><a href="/authors.html">Authors</a></div>
        <div><a href="/genres.html">Genres</a></div>
    </nav>
</header>
<h1 th:text="${book.name}">Book name</h1>
<div>
    <h2>Authors</h2>
    <ul>
        <li th:each="author : ${book.authors}">
            <span th:text="${author.name}"></span>
            <form action="#"
                  th:action="@{/books/{bookId}/authors/{authorId}/remove(bookId=${book.id}, authorId=${author.id})}"
                  method="post">
                <button type="submit">delete</button>
            </form>
        </li>
        <form action="#" th:action="@{/books/{bookId}/authors (bookId=${book.id})}" th:object="${authorToAdd}"
              method="post">
            <select th:field="*{id}">
                <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.name}"></option>
            </select>
            <button type="submit">add</button>
        </form>
    </ul>
    <h2>Genres</h2>
    <ul>
        <li th:each="genre : ${book.genres}">
            <span th:text="${genre.name}"></span>
            <form action="#"
                  th:action="@{/books/{bookId}/genres/{genreId}/remove(bookId=${book.id}, genreId=${genre.id})}"
                  method="post">
                <button type="submit">delete</button>
            </form>
        </li>
        <form action="#" th:action="@{/books/{bookId}/genres (bookId=${book.id})}" th:object="${genreToAdd}"
              method="post">
            <select th:field="*{id}">
                <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option>
            </select>
            <button type="submit">add</button>
        </form>
    </ul>
    <h2>Comments</h2>
    <form action="#" th:action="@{/books/{bookId}/comments (bookId=${book.id})}" th:object="${commentToAdd}"
          method="post">
        <textarea th:field="*{text}"></textarea>
        <button type="submit">add</button>
    </form>
    <div>
        <div th:each="comment : ${book.comments}">
            <div th:text="${comment.timestamp}"></div>
            <div th:text="${comment.text}"></div>
        </div>
    </div>
</div>
</body>
</html>