<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.name}"></title>
</head>
<body>
<div th:insert="header :: header"></div>
<h1 th:text="${book.name}">Book name</h1>
<div>
    <h2>Authors</h2>
    <ul>
        <li th:each="author : ${book.authors}">
            <span th:text="${author.name}"></span>
            <form action="#"
                  th:action="@{/books/{bookId}/authors/{authorId}/remove(bookId=${book.id}, authorId=${author.id})}"
                  method="post">
                <button type="submit">delete</button>
            </form>
        </li>
        <form action="#" th:action="@{/books/{bookId}/authors (bookId=${book.id})}" th:object="${authorToAdd}"
              method="post">
            <select th:field="*{id}">
                <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.name}"></option>
            </select>
            <button type="submit">add</button>
        </form>
    </ul>
    <h2>Genres</h2>
    <ul>
        <li th:each="genre : ${book.genres}">
            <span th:text="${genre.name}"></span>
            <form action="#"
                  th:action="@{/books/{bookId}/genres/{genreId}/remove(bookId=${book.id}, genreId=${genre.id})}"
                  method="post">
                <button type="submit">delete</button>
            </form>
        </li>
        <form action="#" th:action="@{/books/{bookId}/genres (bookId=${book.id})}" th:object="${genreToAdd}"
              method="post">
            <select th:field="*{id}">
                <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option>
            </select>
            <button type="submit">add</button>
        </form>
    </ul>
</div>
</body>
</html>